/* Global Default Settings */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body, h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
	font-family: 'Open Sans', 'Helvetica Neue',Helvetica,arial,sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
	font-weight: 600;
}


/* two columns */
/* left - sidebar */

.wy-nav-side {
	background: #fafafa;
	border-right: 1px solid #e6e6e6;
}

/* left - logo & search bar */

.wy-side-nav-search {
	margin-bottom: 0;
	padding: 0.5em;
	background: #fafafa;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
	padding: 0;
	margin-bottom: 0;
}
.wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.logo {
    width: 50%;
    margin: 0;
}

.wy-side-nav-search input[type=text] {
	border-color: #fafafa;
	border-radius: 0;
}

/* left - menu */

.wy-menu-vertical a {
	color: #757575;
	padding: 0.5em 1.618em;
}

.wy-menu-vertical a:hover {
	color: #151515;
	background: #ededed;
}

.wy-menu-vertical > ul {
	padding: 0 1em;
}

.wy-menu-vertical li.current {
	background: none;
}

.wy-menu-vertical li.current a {
	color: #151515;
	border-right: 0;
	padding: 0.5em 2.427em;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
	padding: 0.5em 1.618em;
}

.wy-menu-vertical li.current a:hover {
	background: #ededed;
}

.wy-menu-vertical li.toctree-l2.current>a {
    padding: 0.5em 2.427em;
}

.wy-menu-vertical li.toctree-l2.current>a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
	background: none;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
	padding: 0.5em 0.5em 0.5em 4.045em;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
	background: none;
	padding: 0.5em 5.663em;
}


/* right */

.wy-nav-content-wrap {
	background: #fff;
}

/* right - top navbar */

.wy-breadcrumbs {
	padding: 0 1.618em 0.5em 1.618em;
}

.wy-nav-content {
	padding: 0.5em 0 1.618em 0;
	max-width: 100%;
}

/* right - content */

hr {
	margin: 0;
}

.section {
	padding: 0 1.618em;
}

h1 {
	background: #2c2c2c;
	color: #fff;
	padding: 0.8em 1em;
	margin: 0 -1.618em 1rem -1.618rem;
}

.wy-plain-list-disc, .rst-content .section ul, .rst-content .toctree-wrapper ul, article ul {
	line-height: 2em;
}

.rst-content blockquote {
	border: 1px solid #e6e6e6;
	background: #f9fafa;
	padding: 1em;
	margin-left: 0;
}

#search-results {
	padding: 1em 1.618em;
}

/* right - footer */

footer {
	padding: 1em;
	font-size: 1rem;
	font-size: 0.9em;
}
footer p {
	margin-bottom: 0;
	margin-top: 12px;
	font-size: 0.9em;
}
.rst-footer-buttons {
	padding-bottom: 1em;
}






/* homepage */
#overview.section {
	padding: 0;
}

span#overview {
	display: none;
}

#overview h1 {
	display: none;
}

#welcome-to-the-open-source-nebulas-wiki.section {
	background: #000 url(https://raw.githubusercontent.com/nebulasio/nebdocs/master/docs/resources/overview/bg.png) no-repeat 50% 0;
	color: #9b9b9b;
	max-width: 1920px;
	margin: 0 auto;
	padding: 2em 1.618em;
}

#welcome-to-the-open-source-nebulas-wiki h2 {
	color: #fff;
	float: left;
	font-size: 2.5em;
	max-width: 40%;
	padding-right: 2.5em;
	padding-bottom: 3em;
}

#use-wiki.section {
	max-width: 1920px;
	margin: 0 auto;
	padding-top: 3em;
}

#use-wiki.section #mainnet.section, #use-wiki.section #dapps.section, #use-wiki.section #ecosystem.section {
    width: 30%;
    display: block;
    border: 1px solid #cbcbcb;
    padding: 235px 0 30px 0;
    float: left;
    margin-right: 3%;
    margin-bottom: 2rem;
}

#use-wiki.section .section:hover {
	box-shadow: 0 0 45px 0 rgba(14,15,18,0.13);
}

#use-wiki.section .section h3 {
	padding: 0 2rem;
}

#use-wiki.section .section a.reference {
    display: block;
    border: 1px solid #000;
    height: 2.6rem;
    line-height: 2.6rem;
    text-align: center;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    background-size: 165px 165px;
}

#use-wiki.section .section a.reference:hover {
	background: #000;
	color: #fff;
}

#use-wiki.section .section a.headerlink {
	display: none;
}

#use-wiki.section #mainnet.section {
	background: #fff url(https://raw.githubusercontent.com/nebulasio/nebdocs/master/docs/resources/overview/icon-mainnet.png) no-repeat 50% 30px;
}

#use-wiki.section #dapps.section {
	background: #fff url(https://raw.githubusercontent.com/nebulasio/nebdocs/master/docs/resources/overview/icon-dapps.png) no-repeat 50% 30px;
}

#use-wiki.section #ecosystem.section {
	background: #fff url(https://raw.githubusercontent.com/nebulasio/nebdocs/master/docs/resources/overview/icon-eco.png) no-repeat 50% 30px;
}

#use-wiki.section #get-involved.section {
    clear: left;
    background: #f7f7f7 url(https://github.com/nebulasio/nebdocs/blob/master/docs/resources/overview/icon-contribute.png?raw=ture) no-repeat 100% 0;
    padding: 2em 1.618em;
    margin: 2em -1.618em 0 -1.618em;
}

#use-wiki.section #get-involved.section:hover {
	box-shadow: none;
}

#use-wiki.section #get-involved.section a.reference {
	display: inline-block;
	padding: 0 3rem;
}




/* mobile */
/* mobile menu */
.wy-nav-top {
	background: #fafafa;
	color: #000;
}

.wy-nav-top a {
	color: #000;
}

@media screen and (max-width: 768px) {
	.wy-nav-content-wrap .wy-nav-content {
		padding: 0.5em 0 1.618em 0;
	}
	#use-wiki.section #mainnet.section, #use-wiki.section #dapps.section, #use-wiki.section #ecosystem.section {
		width: 100%;
		margin-right: 0;
		float: none;
	}
	#welcome-to-the-open-source-nebulas-wiki h2 {
		max-width: 100%;
		padding-right: 0;
		padding-bottom: 0;
		float: none;
	}
}



/* ratio 2 */

@media (-webkit-min-device-pixel-ratio: 2) {
	#use-wiki.section #mainnet.section {
		background-image: url(https://raw.githubusercontent.com/nebulasio/nebdocs/master/docs/resources/overview/icon-mainnet@2x.png);
	    background-size: 165px 165px;
	}
	#use-wiki.section #dapps.section {
		background-image: url(https://raw.githubusercontent.com/nebulasio/nebdocs/master/docs/resources/overview/icon-dapps@2x.png);
	    background-size: 165px 165px;
	}
	#use-wiki.section #ecosystem.section {
		background-image: url(https://raw.githubusercontent.com/nebulasio/nebdocs/master/docs/resources/overview/icon-eco@2x.png);
	    background-size: 165px 165px;
	}
	#use-wiki.section #get-involved.section {
		background-image: url(https://raw.githubusercontent.com/nebulasio/nebdocs/master/docs/resources/overview/icon-contribute@2x.png?raw=ture);
	    background-size: 411px 190px;
	}
}
